<nav class="nav">
    <ul>
        <li class="status" id="home"><a  routerLink="dashboard">Dashboard</a></li>
        <li class="status" id="signup"><a  routerLink="employee">Employees</a></li>
        <li class="status" id="service"><a  routerLink="clients">Clients</a></li>
        <li class="status" id="about"><a  routerLink="projects">Projects</a></li>      
        <li class="status" id="contact"><a  routerLink="office">Office</a></li>
        <li class="status" id="login"><a  routerLink="industry">Industry</a></li>
        <li class="status" id="login"><a  routerLink="storage">Storage</a></li>
        <li class="status" id="login"><a  routerLink="billing">Billing</a></li>
    </ul>
</nav>
